<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugin Test Page</title>
</head>
<body>
  <p><code>tagCloud</code></p>
  {% for tag in collections.posts | tagCloud %}
    {{ tag }}
  {% endfor %}
  <p><code>tagCloudIndex</code></p>
  {% for tag in collections.posts | tagCloudIndex %}
    {{ tag | safe }}
    {{ tag.tagName }} ({{ tag.tagAmount }})
  {% endfor %}

  {{ content | safe }}
</body>
</html>