<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugin Test Page</title>
</head>
<body>

  {% for tag in collections.posts | tagCloud %}
    {{ tag | safe }}
  {% endfor %}

  {{ content | safe }}
</body>
</html>